.speedyutils-preloadimages.speedyutils-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "speedyutils-row"
        "speedyutils-row"
        "speedyutils-row";
    gap: 16px;
}

.speedyutils-preloadimages .speedyutils-row {
    display: grid;
    grid-template-columns: 60px 1fr 1.5fr;
    gap: 16px;
}

.speedyutils-item input.fullwidth {
    width: 100%;
}

.speedyutils-bold {
    font-weight: 600;
}